<div class="container">
<div class="p-2 mb-3 border border-dark rounded-3">
<h3>Add Item</h3>
<form onsubmit="add_item(event)" id="addItem">
<div class="mb-3 mx-3">
    <label for="name" class="form-label">Name of the Item</label>
    <input type="text" class="form-control" id="name" name="name" />
</div>
<div class="mb-3 mx-3">
    <label for="description" class="form-label">A description or why you want this <span>(optional)</span></label>
    <input type="text" class="form-control" id="description" name="description" />
</div>
<div class="mb-3 mx-3">
    <label for="url" class="form-label">The url that points to where the thing is that you want</label>
    <input type="text" class="form-control" id="url" name="url" />
</div>
<div class="m-3">
    <button type="submit" class="btn btn-primary">Add!</button>
</form>
</div>
</div>
